{% extends "base.html" %}
{% block css %}

{% endblock %}
{% block content %}

 
<div class="container main-content">
    <div class="row">
        <div class="col-sm-12 text-center section-header">
            <h1 class="blue bold">NOSOTROS</h1>
        </div>

    </div>
    <div class="row"><hr class="hr-yellow"></div>
    <div class="row">
        <div class="col-sm-6">
          <img src="{{BASE_URL}}static/img/Nosotros/IlustrativaNosotros.jpg" alt=""> 
        </div>
        <div class="col-sm-6 dark-blue px20 bold">
           <p>Con un servicio amable, cercano y claro, le otorgamos a cada uno de nuestros clientes la mejor calidad en arrendamiento de automóviles, sabemos que viajar es un placer y por ello ponemos todo nuestro esfuerzo para hacer de tu viaje el más confortable y seguro. Las mejores y más modernas unidades del año con el servicio más completo te garantizarán una experiencia única. 
           </p>
           <p><br></p>
           <p>
             ¡Llámanos o escríbenos! Nuestros vehículos están listos para tu siguiente viaje ¿Y tú?
           </p>
        </div>
        <div class="col-sm-12">
          <p><br></p>
        </div>
    </div>
    <div class="row">
        <!--div class="col-sm-12 bg-blue text-center">
            <a href="{{BASE_URL}}pago"><button class="ghost-btn ghost-white">RESERVA</button></a>
        </div-->
    </div>
    <div class="row">
        <div class="col-sm-12"><p><br></p></div>
        <div class="col-sm-6  text-center">
            <h3 class="dark-blue bold"> ¡Vive tu siguiente aventura en 4 ruedas! </h3>
            <p class="blue text-justify bold px18">Viajar en auto siempre brinda nuevas experiencias, conoces personas, disfrutas nuevos sabores, ves nuevos paisajes, no importa cuál sea el motivo de tu viaje, viajar siempre es un placer. México siempre tiene nuevos rincones por descubrir, te compartimos algunos lugares que no debes perderte en tu viaje a Quintana Roo. ¿Estás listo? </p>
        </div>
        <div class="col-sm-6">
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/pM2rE8ZjYcY?rel=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <hr class="hr-blue">
        <div class="col-sm-12">
          <img src="{{BASE_URL}}static/img/HOME/LogosBajo.png" alt="">
        </div>
    </div>
</div>


{% endblock %}

{% block js %}

{% endblock  %}